@media (min-width: 600px) {
    main {
        position: relative;
        width: 100%;
    }

    picture img {
        display: block;
        width: 100%;
    }

    .data,
    .weather {
        position: absolute;
        background-color: var(--cor-azul);
        color: var(--cor-secundária);
        opacity: 80%;

    }

    .data {
        top: 1%;
        left: 2%;
    }

    .weather {
        bottom: 1%;
        right: 2%;
    }

    h2 {
        background-color: var(--cor-vermelho);
        color: var(--cor-secundária);
    }

    .clima::after {
        display: inline-block;
        content: "🌤️";
        width: 25px;
        height: 25px;
        margin-left: 8px;
        /* background: url("../imagens/weather.svg"); */
    }

    .icone-clima {
        display: none;
    }
}