@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    .container-templos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;
        place-items: center;
    }

    header,
    main,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }

    #menu {
        display: none;
        /* ocultar botão de hambúrguer */
    }
}